
<h1>DIS IS YO PROFILE</h1>

<h3> <%= button_to 'Log Out',  log_out_path, method: :delete %> </h3>

<input type="hidden" id='api-token' value="<%= @user.token %>">

<form class="create-post" action="/api/posts" method="post">
  <%= token_tag %>
  <input type="hidden" name="token" value="<%= @user.token %>">
  <input type="text" id="title" name="post[title]" placeholder="Blog Post Title"></br>
  <textarea id="body" name="post[body]" placeholder="Recipe goes here!"cols="100" rows="20" ... ></textarea></br>
  <input type="submit" value="BLOG ON!">
</form>

<h2>Here are all of your blog post contributions</h2>
<% @greeneries.each do |greenery|%>
<h3><%= greenery.plant.name %></h3>
<% end %>
