
<div class="row">
<div class="col s2">
  <h4>DIS IS YO PROFILE, <%= @user.username %></h4>
  <img src="<%= @user.pic_url %>" width="100px" />
<h6> <%= button_to 'Log Out',  log_out_path, method: :delete %> </h6>
</div>
<div class="col s10">
<input type="hidden" id='api-token' value="<%= @user.token %>">
  <h2>Your Greenhaus</h2>
    <% @greeneries.each_with_index do |greenery, index|%>
      <div class="col s4">
      <h3><%= greenery.plant.name %></h3>
      <div class="profile-display"><img src="<%=greenery.plant.img_url%>" style="width: 250px" alt="broken image :("/></div>
      <a href="/plants/<%= greenery.plant.id %>">See More</a>
      <% if (index+1)%4==0 %>
    </div>
    <div class="col s4">
      <% end %>
        </div>
    <% end %>

</div>
</div>
