


<h6> <%= button_to 'Log Out',  log_out_path, method: :delete %> </h6>

<input type="hidden" id='api-token' value="<%= @user.token %>">
<div class="row">
  <h1>DIS IS YO PROFILE, <%= @user.username %></h1>
</div>
<div class="row">
  <h2>Your Greenhaus</h2>
    <% @greeneries.each_with_index do |greenery, index|%>
      <div class="col s4">
      <h3><%= greenery.plant.name %></h3>
      <img src="http://www.buzzle.com/images/plants/indoor-plants/african-violet.jpg" alt="broken image :("/>
      <a href="/plants/<%= greenery.plant.id %>">See More</a>
      <% if (index+1)%4==0 %>
    </div>
    <div class="col s4">
      <% end %>
        </div>
    <% end %>

</div>
