<h1><%= @plant.name %></h1>    <a href="/plants">Back</a> <a href="/">Home</a>
<h3><%= @plant.science %></h3>
<h5><%= @plant.description %></h5>
<form id="fav-button" class="result-line" action="/greenery" method="post">
  <input type="hidden" name="user[token]" value="<%= @user.token %>"/>
  <input type="hidden" name="greenery[user_id]" value="<%= @user.id %>"/>
  <input class='plant_id' type="hidden" name="greenery[plant_id]" value="<%= @plant.id %>"/>
  <input type="submit" value="&hearts;">

</form>
