<h1><%= @plant.name %></h1>    <a href="/plants">Back</a> <a href="/">Home</a>
<h3><%= @plant.science %></h3>
<h5><%= @plant.description %></h5>
<img src="<%=@plant.img_url%>"  />
<% if current_user %>
<%=render 'greenform'%>
<% end %>
