<!DOCTYPE html>
<html>
<head>
  <title>greenhaus</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'users', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <nav>
        <div class="nav-wrapper grey darken-3">
          <a href="/" class="brand-logo center "><img id="title" src="<%= image_path("title.png") %>"  style="width: 100px;"/></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/plants">Explore Plants</a></li>
            <li><a href="/about">About greenhaus</a><li>
            <li><a href="/users/profile">Profile</a></li>
            <li><a href="/users/<%=@user.id%>/edit">Edit Profile</a></li>
            <li> <%= link_to 'Log Out',  log_out_path, method: :delete %> <li>
          </ul>
        </div>
      </nav>
      <% else %>
      <nav>
          <div class="nav-wrapper grey darken-3">
            <a href="/" class="brand-logo center "><img id="title" src="<%= image_path("title.png") %>"  style="width: 100px;"/></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/plants">Explore Plants</a></li>
              <li><a href="/about">About greenhaus</a><li>
              <li><a href="/signup">Make an Account</a></li>
              <li><a href="/login">Log In</a></li>
            </ul>
          </div>
        </nav>
      <% end %>
  <div class="container">
    <%= yield %>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
</body>
</html>
